{% extends "layout.html" %}

{% block title %}
    Book Search
{% endblock %}

{% block body %}
    <h1>Search for title or author</h1>

    <form action="{{ url_for('search') }}" method="post">

        <div class="form-group">
            <input autofocus class="form-control" name="search" autocomplete="off" placeholder="Title or Author">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Search</button>
        </div>

    </form>
    
    {% if books %}
    <h2>Books</h2>
        <ul>
            {% for entry in books %}
                <li>
                    <a href="/book/{{ entry['isbn'] }}">{{ entry["title"] }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if authors %}
    <h2>Authors</h2>
        <ul>
            {% for entry in authors %}
                <li>
                    <a href="/author/{{ entry['id'] }}">{{ entry["author"] }}</a>
                </li>

            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}